<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum expedita perferendis accusamus ut facere, maxime esse, quae voluptatibus aliquid veniam facilis? Unde sint rem ab numquam nisi officiis maiores similique.</p>
</div>